src/main/mule/p-test-molmedomarin.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="p-test-molmedomarin-config" api="resource::f410b1b4-6203-4154-a14a-d77dd6823489:p-test-molmedomarin:1.0.0:raml:zip:p-test-molmedomarin.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="p-test-molmedomarin-main">
        <http:listener config-ref="p-test-molmedomarin-httpListenerConfig" path="/api/*" allowedMethods="GET">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="p-test-molmedomarin-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="p-test-molmedomarin-console">
        <http:listener config-ref="p-test-molmedomarin-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="p-test-molmedomarin-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:p-test-molmedomarin-config">
		<http:listener doc:name="Listener" doc:id="df26097e-3d99-471c-a0d6-1a11d270a2f0" config-ref="p-test-molmedomarin-httpListenerConfig" path="/accounts" allowedMethods="GET"/>
		<http:request method="GET" doc:name="Request Contacts" doc:id="f3ffb154-fc28-4180-9a52-5f1a475858f3" config-ref="HTTP_Request_configuration" path="/api/contacts" target="contacts">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "${secure::s_layer.client_secret}",
	"client_id" : "${secure::s_layer.client_id}"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="be1a019b-291f-42e6-9390-2fff5d60c5fe">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.contacts map{
    "Id": $.Id,
    "AccountID": $.AccountNumber,
    "Name": $.Name,
    "Type": $."type",
    "Adress": $.MailingStreet,
    "Description": null
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="Set contacts" doc:id="1cc49718-6be3-45f7-b93d-14b90df7c0d7" variableName="contacts"/>
		<http:request method="GET" doc:name="Request Accounts" doc:id="08d94460-7e3e-4a7f-9df2-f2dcce2984c7" config-ref="HTTP_Request_configuration" path="/api/accounts" target="accounts">
			<http:headers ><![CDATA[#[output application/java
---
{
	"client_secret" : "${secure::s_layer.client_secret}",
	"client_id" : "${secure::s_layer.client_id}"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="f01c8cfe-0aa9-4e26-88fb-6d2f3eb55d92">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var res =vars.accounts map{
    "Id": $.Id,
    "AccountID": $.AccountNumber,
    "Name": $.Name,
    "Type": $."type",
    "Adress": $.BillingStreet,
    "Description": $.Description
}

---
 res ++ vars.contacts]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5c543350-5986-4615-87a9-086a1e3fd10c" />
    </flow>
</mule>
